.Filter-Container{
    transform: translateY(8vh);
    top: 0;
    right: 3vh;
    height: fit-content;
    width: 15vw;
    background-color: black;
    position: absolute;
}
#filter-title{
    text-align: center;
    margin: auto;
    color: white;
    margin-bottom: 4%;
}
.filter-type{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}
#filter-type{
    text-align: center;
    margin-top: 0;
    color: white;
}
.checkbox{
    margin-left:8%;
    margin-right: 4%;
}
.checkbox-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.checkbox-year{
    display: flex;
    flex-direction: row;
    width: 50%;
}
#filter-year{
    color: white;
}
.select{
    margin: 0;
    padding-bottom: 5vh;
}
.search{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}